.wrap {
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: transparent;
    animation: fadeInRightBig;
    animation-duration: 2s;
    animation-duration: 2s;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    animation: fadeInRightBig;
    animation-duration: 2s;
}

.navbar li {
    height: auto;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li:hover, a:hover {
    background-color: transparent;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: transparent;
}

.navbar li ul li a:hover {
    background-color: transparent;
}