body {
    background-image:url("../img/BodyPlan.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Logo {
    float: right;
    animation: fadeInBottomLeft;
    animation-duration: 2s;
}
