/* Début du css pour le Index.html */

.Title {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    animation: backInDown;
    animation-duration: 2s;
}

.TitleIntro {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    animation: backInUp;
    animation-duration: 4s;
}

.Intro {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    animation: lightSpeedInLeft;
    animation-duration: 4.5s;
}

.Intro1 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: italic;
    animation: lightSpeedInLeft;
    animation-duration: 4.5s;
}

.Intro2 {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-style: italic;
    animation: lightSpeedInLeft;
    animation-duration: 4.5s;
}

.Title {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    animation: backInDown;
    animation-duration: 2s;
}

.TitleIntro {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    animation: backInUp;
    animation-duration: 4s;
}

.Intro {
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: italic;
    animation: lightSpeedInLeft;
    animation-duration: 4.5s;
}

/* Fin du css pour Index.html */


/* Début du css pour Catégories d'aliments.html */


/* Fin du css pour Catégories d'aliments.html */